<h2>Ingrese productos</h2>
<form action="/productos" method="post">
	<label for="POST-name">Nombre:</label>
	<input id="POST-name" type="text" name="title" />
	<label for="POST-name">Precio:</label>
	<input id="POST-name" type="text" name="price" />
	<label for="POST-name">Imagen:</label>
	<input id="POST-name" type="text" name="thumbnail" />
	<input type="submit" value="Guardar" />
</form>

<a href="http://localhost:8080/productos">
	<button>ir a productos</button>
</a>
