

<h1>Vista de Productos</h1>

a(href='http://localhost:8080')  Ir a Inicio



if getAll.length 
	
		each product in getAll
			
			
			h2=	product.title
			h3=	product.price
				
else
	
	h2= 'No hay productos disponibles'


	