<h2>Ingrese productos</h2>
<form action='/productos' method='post'>
	<label for='POST-name'>Nombre:
	<input id='POST-name' type='text' name='title' />
	<label for='POST-name'>Precio:
	<input id='POST-name' type='text' name='price' />
	<label for='POST-name'>Imagen:
	<input id='POST-name' type='text' name='thumbnail' />
	<input type='submit' value='Guardar' />


a(href='http://localhost:8080/productos')  Ir a Productos




