

<h1>Vista de Productos</h1>

a(href='http://localhost:8080')  Ir a Inicio



if getAll.length 
	
		each product in getAll
			
			
			h2=	product.title
			h3=	product.price
			img(src=product.thumbnail, alt=product.title)
				
else
	
	h2= 'No hay productos disponibles'


	